body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
  text-align: center;
}

#visualization {
  margin: 0 auto;
  width: 90%;
  height: 500px;
}

button {
  padding: 8px 16px;
  margin: 10px;
  font-size: 14px;
}
